<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arduinobot">

    <xacro:property name="PI" value="3.14159263359"/>

    <ros2_control type="system" name="RobotSystem">
        <xacro:if value="$(arg is_ignition)">
            <hardware>
                <plugin>ign_ros2_control/IgnitionSystem</plugin>
            </hardware>
        </xacro:if>
        <xacro:unless value="$(arg is_ignition)">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
        </xacro:unless>

        <joint name="base_plate_to_base">
            <command_interface name="position">
                <param name="min">-${PI/2}</param>
                <param name="max">${PI/2}</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="froward_drive_arm_to_base_plate">
            <command_interface name="position">
                <param name="min">-${PI/2}</param>
                <param name="max">${PI/2}</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="horizontal_arm_to_froward_drive_arm">
            <command_interface name="position">
                <param name="min">-${PI/2}</param>
                <param name="max">${PI/2}</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="right_finger_to_claw_support">
            <command_interface name="position">
                <param name="min">-${PI/2}</param>
                <param name="max">0.0</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="left_finger_to_claw_support">
            <param name="mimic">right_finger_to_claw_support</param>
            <param name="multiplier">-1</param>
        </joint>
    </ros2_control>
</robot>